@model Credo.ViewModel.LoanViewModel
@{
    ViewData["Title"] = "Loan";
}

<h1>Loan Form</h1>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="LoanType">
                    <option value="1">Fast Loan</option>
                    <option value="2">Car Loan</option>
                    <option value="3">Installment</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="amount"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="Currency">
                    <option value="1">Gel</option>
                    <option value="2">USD</option>
                    <option value="3">EUR</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Period"></label>
                <input asp-for="Period" class="form-control" />
                <span asp-validation-for="Period" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-primary">Submit</button>
        </form>

    </div>
</div>